---
import Link from "@/components/shared/Link.astro";

const year = new Date().getFullYear();
---

<footer class="text-center text-sm text-neutral-400">
  <nav>
    copyright: © {year}
    Siwalik Mukherjee
    <br />This is V4 of my personal site.
    <Link type="underline" href="https://v3.siwalik.in/" label="V3" />
    •
    <Link type="underline" href="https://v2.siwalik.in/" label="V2" />
    •
    <Link type="underline" href="https://v1.siwalik.in/" label="V1" />
  </nav>
</footer>
