---
const year = new Date().getFullYear();
---

<footer class="text-center text-sm text-neutral-400">
  <nav>
    copyright: © {year}
    Siwalik Mukherjee
    <br />This is V4 of my personal site.
    <a
      class="text-text-muted"
      target="_blank"
      rel="noopener noreferrer"
      href="https://v3.siwalik.in/">V3</a
    > • <a
      class="text-text-muted"
      target="_blank"
      rel="noopener noreferrer"
      href="https://v2.siwalik.in/">V2</a
    > • <a
      class="text-text-muted"
      href="https://v1.siwalik.in/"
      target="_blank"
      rel="noopener noreferrer">V1</a
    >
  </nav>
</footer>
