@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-bg-primary bg-opacity-50;
  }
  :root {
    @apply text-base;
  }

  body {
    @apply bg-bg-canvas;
  }

  hr {
    @apply mx-auto mb-4 h-1 w-48 rounded border-0 bg-bg-primary;
  }

  h1 {
    @apply mb-10 text-3xl;
  }
  h2 {
    @apply mb-8 text-2xl;
  }
  h3 {
    @apply mb-6 text-xl;
  }
  h4 {
    @apply mb-4 text-lg;
  }
  h5 {
    @apply mb-4 text-lg;
  }
  h6 {
    @apply mb-4 text-lg;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-6 font-bold text-text-primary;
  }

  button {
    @apply rounded border border-gray-400 bg-bg-primary px-2 py-2 font-semibold text-white shadow hover:bg-bg-secondary;
  }

  input,
  abbr,
  acronym,
  blockquote,
  code,
  kbd,
  q,
  samp,
  var {
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre {
    white-space: pre;
  }

  pre code {
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
  }

  code {
    white-space: pre;
    font-family: monospace;
  }

  abbr {
    -webkit-font-variant: small-caps;
    -moz-font-variant: small-caps;
    -ms-font-variant: small-caps;
    font-variant: small-caps;
    font-weight: 600;
    text-transform: lowercase;
    color: gray;
  }

  abbr[title]:hover {
    cursor: help;
  }
}
